<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <title>View Data</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 2px 4px;
      }
    </style>
  </head>
  <body style="background-color: aquamarine;">
    <h1>The Dataset</h1>
    <hr />
    <table>
      <thead>
        <tr>
          <th>Class</th>
          <th>Age</th>
          <th>Menopause</th>
          <th>Tumor-size</th>
          <th>Inv-nodes</th>
          <th>Node-caps</th>
          <th>Deg-malig</th>
          <th>Breast</th>
          <th>Breast-quad</th>
          <th>Irradiat</th>
        </tr>
      </thead>
      <tbody>
        {% for s in breastcancer_data_data %}
        <tr>
          {% for i in s %}
          <td>{{i}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3><u>Important links</u></h3>
    <ul>
      <li>
        <h3><a href="{{url_for('index')}}">Home Page</a></h3>
      </li>
      <li>
        <h3><a href="{{url_for('about')}}">About Page</a></h3>
      </li>
    </ul>
  </body>
</html>
